<div class="body">
  <div class="form-container" [ngClass]="{'greenBorder': myForm.touched}">
    <form (ngSubmit)="postData(myForm)"  #myForm="ngForm">
      <h2>Join US</h2>

      <!-- Text Input -->
      <div class="form-group">
        <label for="text">Username</label>
        <input type="text" placeholder="Username" name="username" ngModel required #username="ngModel">
        <div  class="errorMsg" *ngIf="username.invalid && username.touched" >
          *Username is required
        </div>
        <button class="btn btn-success" (click)="changeUserName(myForm)">Change user Name</button>
      </div>


      <!-- Password Input -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter password" name="password" ngModel required #password="ngModel" >
        <div  class="errorMsg" *ngIf="password.invalid && password.touched" >
          *password is required
        </div>
      </div>

      <!-- Re-type Password Input -->
      <div class="form-group">
        <label for="password">Re-type Password</label>
        <input type="password" placeholder="Re-type Password" name="retypePassword" ngModel required [pattern]="password.value" #retype="ngModel">
        <div class="errorMsg" *ngIf="retype.invalid && retype.touched">
        <div *ngIf="retype.errors?.['required']" >
          *re-typed-password is required
        </div>
        <div  *ngIf="retype.errors?.['pattern']" >
          *password doesn't Match
        </div>
      </div>
    </div>
      <!-- Email Input -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="Enter email" name="email" ngModel required email>
      </div>

      <!-- Number Input -->
      <div class="form-group">
        <label for="number">Age</label>
        <input type="number" placeholder="Age" name="age" ngModel>

      </div>

      <!-- Date Input -->
      <div class="form-group">
        <label for="date">Birth Date</label>
        <input type="date" name="birthDate" ngModel>
      </div>

      <!-- URL Input -->
      <div class="form-group">
        <label for="url">LinkedIn URL</label>
        <input type="url" placeholder="LinkedIn URL" name="linkedInURL" ngModel>
      </div>

      <!-- Telephone Input -->
      <div class="form-group">
        <label for="tel">Phone NO.</label>
        <input type="tel" placeholder="Phone NO." name="phone" ngModel required #phone="ngModel" pattern="^[0-9]{14}$">
        <div class="errorMsg" *ngIf="phone.invalid && phone.touched">
          <div *ngIf="phone.errors?.['required']">* Phone number is required</div>
          <div *ngIf="phone.errors?.['pattern']"> * Phone number should be 14 numbers only </div>
        </div>
      </div>

      <!-- File Input -->
      <div class="form-group">
        <label for="file">Your C.V</label>
        <input type="file" name="cv" ngModel>
      </div>

      <!-- Radio Buttons -->
      <div class="form-group">
        <label>Gender</label>
        <div class="form-group-inline">
          <input type="radio" id="radio1" name="gender" value="female" ngModel>
          <label for="radio1">Female</label>
        </div>
        <div class="form-group-inline">
          <input type="radio" id="radio2" name="gender" value="male" ngModel>
          <label for="radio2">Male</label>
        </div>
      </div>

      <!-- Select Dropdown -->
      <div class="form-group">
        <label for="select">Status</label>
        <select id="select" name="status" ngModel>
          <option value="graduate">Graduate</option>
          <option value="student">Student</option>
        </select>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label for="textarea">About you</label>
        <textarea id="textarea" name="about" rows="4" placeholder="About You" ngModel></textarea>
      </div>

      <!-- Checkbox -->
      <div class="form-group-inline">
        <input type="checkbox" id="terms" name="terms" ngModel>
        <label for="terms">Agree to terms and conditions</label>
      </div>

      <!-- Submit Button -->
      <div class="form-group text-center">
        <input   type="submit" value="Join Us"/>
      </div>
    </form>
  </div>
</div>
